.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 100;
  }
  
  .header__logo {
    height: 40px;
    object-fit: contain;
  }
  
  .header__search {
    width: 300px;
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: white;
    outline: none;
  }
  .header__cartButton {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
  }
  .header__cartButton:hover {
    background-color: #f40612;
  }
  