
.cardfeed {
  width: full;
  height: auto; /* Adjust height dynamically based on content */
  /* border: 3px inset white; */
  /* box-shadow: inset 20px 20px 60px #f0ecec, inset -20px -20px 60px #ffffff; */
  transition: all 0.5s ease-in-out;
  border-radius: 1.5rem;
  font-weight: bolder;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: large;
  color: #071e2a;
  padding: 10px; /* Add padding for better spacing */
  overflow-y: auto; /* Scroll when content exceeds card height */

  /* Center text horizontally */
  /* display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.questions{
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top:3rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  /* padding-right: 25rem; */
  padding-top:1rem;
  background-color: rgba(245, 245, 245, 0.5);
  
}

.Questionbox{
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top:2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-radius: 1.2rem;
  /* box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1; */
  padding-left: 25rem; 
   padding-right: 25rem;
  /* padding-top:1rem;
  background-color: rgba(245, 245, 245, 0.5); */
}


  .combined-container {
    display: flex;
    flex-direction: column; 
   
  }

  .custom-radio{

    color: aqua;
  }
  
  .combined-item {
    padding: 0.3cm; 
    border-radius: 5px; 
  }

  .label{
    font-size: large;
    color: aquamarine;
}
.buttonfeed {
  appearance: none;
  background-color: transparent;
  border: 0.2em solid #03032a;
  box-sizing: border-box;
  color: #050528;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 8em;
  height: 1em;
  border-radius: 10em;
 }



 .buttonfeed:hover {
  color: #fff;
  background-color: #070131;
  box-shadow: rgba(3, 27, 77, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }

 

  